body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  #palabra {
    font-size: 2em;
    text-align: center;
    margin: 1em;
  }
  
  #intentos, #letrasUsadas {
    margin: 1em;
  }
  
  #letras {
    font-weight: bold;
  }
  
  form {
    text-align: center;
    margin: 1em;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 2em;
    margin-right: 0.5em;
  }
  
  button[type="submit"] {
    padding: 0.5em;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }